<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">
    
    <bean id="urlMapping" class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
        <property name="interceptors">
            <list>
                <ref bean="localeChangeInterceptor"/>
                <ref bean="varLoaderInterceptor"/>
            </list>
        </property>
        <property name="mappings">
            <props>
                <!--public pages-->
                <prop key="/index.html">index</prop>
                <prop key="/login.html">credentials</prop>
                <prop key="/**/error.html">error</prop>
                <prop key="/register.html">register</prop>
                <!--secured pages-->
                <prop key="/secured/index.html">main</prop>
                <prop key="/secured/profile.html">profile</prop>
                <!--report secured pages-->
                <prop key="/report/*.html">report</prop>
                <!--bike secured pages-->
                <prop key="/bikes/*.html">bikes</prop>
                <!--trip secured pages-->
                <prop key="/trips/*.html">trips</prop>
                <!--fishiers secured pages-->
                <prop key="/fishiers/*.html">fishiers</prop>
                <prop key="/fishier_elements/*.html">fishiers</prop>
            </props>
        </property>
    </bean>
    
    <!-- controllers -->
    <bean id="index" class="navigation.controllers.IndexController"/>
    <bean id="main" class="navigation.controllers.secured.Main"/>
    <bean id="profile" class="navigation.controllers.secured.Profile"/>
    <bean id="error" class="navigation.controllers.Error"/>
    <bean id="register" class="navigation.controllers.Register"/>
    <bean id="credentials" class="navigation.controllers.Credentials"/>
    
    <!--multicontrollers-->
    <!--reports-->
    <bean id="report" class="org.springframework.web.servlet.mvc.multiaction.MultiActionController">
        <property name="methodNameResolver">
            <bean class="org.springframework.web.servlet.mvc.multiaction.PropertiesMethodNameResolver">
                <property name="mappings">
                    <value>
                        /report/generate.html=generateReport
                    </value>
                </property>
            </bean>
        </property>
        <property name="delegate">
            <bean class="navigation.controllers.secured.Report"/>
        </property>
    </bean>
    <!--fishiers-->
    <bean id="fishiers" class="org.springframework.web.servlet.mvc.multiaction.MultiActionController">
        <property name="methodNameResolver">
            <bean class="org.springframework.web.servlet.mvc.multiaction.PropertiesMethodNameResolver">
                <property name="mappings">
                    <value>
                        /fishiers/list.html=showList
                        /fishiers/index.html=showList
                        /fishiers/new.html=addFishier
                        /fishiers/edit.html=editFishier
                        /fishiers/delete.html=deleteFishier
                        /fishiers/details.html=details
                        /fishier_elements/add.html=addElement
                        /fishier_elements/delete.html=deleteElement
                        /fishier_elements/edit.html=editElement
                    </value>
                </property>
            </bean>
        </property>
        <property name="delegate">
            <bean class="navigation.controllers.secured.Fishiers"/>
        </property>
    </bean>
    <!--motorcycle-->
    <bean id="bikes" class="org.springframework.web.servlet.mvc.multiaction.MultiActionController">
        <property name="methodNameResolver">
            <bean class="org.springframework.web.servlet.mvc.multiaction.PropertiesMethodNameResolver">
                <property name="mappings">
                    <value>
                        /bikes/list.html=showList
                        /bikes/index.html=showList
                        /bikes/new.html=addBike
                        /bikes/edit.html=editBike
                        /bikes/delete.html=deleteBike
                        /bikes/details.html=details
                        /bikes/assignFishier.html=assignFishier
                        /bikes/reassign.html=reassignFishier
                    </value>
                </property>
            </bean>
        </property>
        <property name="delegate">
            <bean class="navigation.controllers.secured.Bikes"/>
        </property>
    </bean>
    <!--trips-->
    <bean id="trips" class="org.springframework.web.servlet.mvc.multiaction.MultiActionController">
        <property name="methodNameResolver">
            <bean class="org.springframework.web.servlet.mvc.multiaction.PropertiesMethodNameResolver">
                <property name="mappings">
                    <value>
                        /trips/list.html=showList
                        /trips/index.html=showList
                        /trips/new.html=addTrip
                        /trips/edit.html=editTrip
                        /trips/delete.html=deleteTrip
                        /trips/details.html=details
                    </value>
                </property>
            </bean>
        </property>
        <property name="delegate">
            <bean class="navigation.controllers.secured.Trips"/>
        </property>
    </bean>
    
    <!--interceptors-->
    <bean id="varLoaderInterceptor" class="navigation.VarLoader"/>
    
    <!-- scoped beans-->
    <bean id="settings" class="utils.ApplicationSettings" scope="singleton"/>
    
    <!-- locales configuration -->
    <bean id="localeProvider" class="utils.LocaleProvider" scope="singleton">
        <property name="locales" ref="messageSource"/>
    </bean>
    
    <bean id="messageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
        <property name="basename" value="/WEB-INF/locales"/>
        <property name="cacheSeconds" value="10"/>
    </bean>
    
    <bean id="localeChangeInterceptor"
          class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor">
        <property name="paramName" value="siteLanguage"/>
    </bean>
    
    <bean id="localeResolver" class="org.springframework.web.servlet.i18n.SessionLocaleResolver"/>
    
    <!-- error configuration
    <bean id="exceptionResolver" class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
        <property name="exceptionMappings">
            <ref bean="error"/>
        </property>
    </bean>	-->
    
</beans>
