<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/applicationContext.xml
            /WEB-INF/security-config.xml
        </param-value>
    </context-param>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>dispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    
    <!-- log4j configuration -->
    <context-param>
        <param-name>log4jConfigLocation</param-name>
        <param-value>/WEB-INF/log4j.properties</param-value>
    </context-param>
    <context-param>
        <param-name>log4jRefreshInterval</param-name>
        <param-value>1000</param-value>
    </context-param>
    <listener>
        <listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
    </listener>
    <!-- log4j configuration end-->
    
    <servlet-mapping>
        <servlet-name>dispatcher</servlet-name>
        <url-pattern>*.html</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>5</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    
    <!--error pages-->
    <error-page>
        <exception-type>java.util.Exception</exception-type>
        <location>/error.html</location>
    </error-page>
    
    <!--acegi security-->
    <filter>
        <filter-name>Acegi Filter Chain Proxy</filter-name>
        <filter-class>org.springframework.security.util.FilterToBeanProxy</filter-class>
        <init-param>
            <param-name>targetClass</param-name>
            <param-value>org.springframework.security.util.FilterChainProxy</param-value>
        </init-param>
    </filter>
    
    <filter-mapping>
        <filter-name>Acegi Filter Chain Proxy</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    
    <filter>
        <filter-name>Acegi Channel Processing Filter</filter-name>
        <filter-class>org.springframework.security.util.FilterToBeanProxy</filter-class>
        <init-param>
            <param-name>targetClass</param-name>
            <param-value>org.springframework.security.securechannel.ChannelProcessingFilter</param-value>
        </init-param>
    </filter>
    
    <filter-mapping>
        <filter-name>Acegi Channel Processing Filter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    
    
    <jsp-config>
        <taglib>
            <taglib-uri>/authz</taglib-uri>
            <taglib-location>/WEB-INF/authz.tld</taglib-location>
        </taglib>
        <taglib>
            <taglib-uri>/spring</taglib-uri>
            <taglib-location>/WEB-INF/spring.tld</taglib-location>
        </taglib>
    </jsp-config>
    
    <!-- beans-->
    <ejb-local-ref>
        <ejb-ref-name>PrivilegesFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>facades.PrivilegesFacadeLocal</local>
        <ejb-link>MotorcyclistsPortal-ejb.jar#PrivilegesFacade</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>UserFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>facades.UserFacadeLocal</local>
        <ejb-link>MotorcyclistsPortal-ejb.jar#UserFacade</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>LoginDataFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>facades.LoginDataFacadeLocal</local>
        <ejb-link>MotorcyclistsPortal-ejb.jar#LoginDataFacade</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>AvailableLangsFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>facades.AvailableLangsFacadeLocal</local>
        <ejb-link>MotorcyclistsPortal-ejb.jar#AvailableLangsFacade</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>MotorcycleFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>facades.MotorcycleFacadeLocal</local>
        <ejb-link>MotorcyclistsPortal-ejb.jar#MotorcycleFacade</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>FishierFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>facades.FishierFacadeLocal</local>
        <ejb-link>MotorcyclistsPortal-ejb.jar#FishierFacade</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>ActivityPeriodFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>facades.ActivityPeriodFacadeLocal</local>
        <ejb-link>MotorcyclistsPortal-ejb.jar#ActivityPeriodFacade</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref><ejb-ref-name>FishiersElementFacade</ejb-ref-name><ejb-ref-type>Session</ejb-ref-type><local>facades.FishiersElementFacadeLocal</local><ejb-link>MotorcyclistsPortal-ejb.jar#FishiersElementFacade</ejb-link></ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>FishierElementBridgeFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>facades.FishierElementBridgeFacadeLocal</local>
        <ejb-link>MotorcyclistsPortal-ejb.jar#FishierElementBridgeFacade</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>ActionFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>facades.ActionFacadeLocal</local>
        <ejb-link>MotorcyclistsPortal-ejb.jar#ActionFacade</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>TripFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>facades.TripFacadeLocal</local>
        <ejb-link>MotorcyclistsPortal-ejb.jar#TripFacade</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>TripTypeFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>facades.TripTypeFacadeLocal</local>
        <ejb-link>MotorcyclistsPortal-ejb.jar#TripTypeFacade</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>UsageFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>facades.UsageFacadeLocal</local>
        <ejb-link>MotorcyclistsPortal-ejb.jar#UsageFacade</ejb-link>
    </ejb-local-ref>
    </web-app>
