<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/applicationContext.xml</param-value>
    </context-param>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>dispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    
    <!-- log4j configuration 
    <context-param>
        <param-name>log4jConfigLocation</param-name>
        <param-value>/WEB-INF/log4j.properties</param-value>
    </context-param>
    <context-param>
        <param-name>log4jRefreshInterval</param-name>
        <param-value>1000</param-value>
    </context-param>
    <listener>
        <listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
    </listener>-->
    <!-- log4j configuration end-->
    
    <servlet-mapping>
        <servlet-name>dispatcher</servlet-name>
        <url-pattern>*.html</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>5</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    
    <!--security-->
    <security-constraint>
        <display-name>pages for logged users</display-name>
        <web-resource-collection>
            <web-resource-name>secured pages</web-resource-name>
            <description/>
            <url-pattern>/secured/*</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>HEAD</http-method>
            <http-method>PUT</http-method>
            <http-method>OPTIONS</http-method>
            <http-method>TRACE</http-method>
            <http-method>DELETE</http-method>
        </web-resource-collection>
        <auth-constraint>
            <description>userConstraint</description>
            <role-name>admins</role-name>
            <role-name>users</role-name>
            <role-name>moders</role-name>
        </auth-constraint>
        <user-data-constraint>
            <description>confidential constraint</description>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    
    <security-constraint>
        <display-name>login page for secure sended info</display-name>
        <web-resource-collection>
            <web-resource-name>login page</web-resource-name>
            <description/>
            <url-pattern>/login.html</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>HEAD</http-method>
            <http-method>PUT</http-method>
            <http-method>OPTIONS</http-method>
            <http-method>TRACE</http-method>
            <http-method>DELETE</http-method>
        </web-resource-collection>
        <user-data-constraint>
            <description>confidential constraint</description>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <login-config>
        <auth-method>FORM</auth-method>
        <realm-name>motorealm</realm-name>
        <form-login-config>
            <form-login-page>/login.html</form-login-page>
            <form-error-page>/login.html?error=loginpage.invalidpass</form-error-page>
        </form-login-config>
    </login-config>
    <security-role>
        <description>Portal admins</description>
        <role-name>admins</role-name>
    </security-role>
    <security-role>
        <description>Portal moderators</description>
        <role-name>moders</role-name>
    </security-role>
    <security-role>
        <description>Portal users</description>
        <role-name>users</role-name>
    </security-role>
    
    <!-- beans-->
    <ejb-local-ref>
        <ejb-ref-name>UserBean</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>services.UserLocal</local>
        <ejb-link>MotorcyclistsPortal-ejb.jar#UserBean</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>UserBean1</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>services.UserLocal</local>
        <ejb-link>MotorcyclistsPortal-ejb.jar#UserBean</ejb-link>
    </ejb-local-ref>
    
    <ejb-local-ref>
        <ejb-ref-name>PrivilegesFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>facades.PrivilegesFacadeLocal</local>
        <ejb-link>MotorcyclistsPortal-ejb.jar#PrivilegesFacade</ejb-link>
    </ejb-local-ref>
    </web-app>
